/*

--- 01 TYPOGRAPHY SYSTEM 

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1
Small (heading): 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
-0.75px
 
--- 02 COLORS

- Primary: #e67e22
- Tints: 
#fdf2e9
#fae5d3

- Shades: #cf711f
- Accents: 
- Greys: 
#555
#333
#6f6f6f (lightest grey allowed on #fdf2e9)

MAIN COLOR: #087f5b
GREY COLOR: #343a40

--- 03 SHADOWS 

box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);

--- 04 BORDER RADIUS

Default: 9px
Medium: 11px

--- 05 WHITE SPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* ********************************* */
/* GENERAL STYLES */
/* ********************************* */
.container {
  max-width: 120rem;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  font-size: 20px !important;
  width: 50px;
  height: 50px;

  text-align: center;
  /* text-decoration: none;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important; */
}

.fa-facebook {
  background: #3B5998;
  color: white;
  display: flex;
  ;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}